# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.fseventsd

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
